* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
header{
    width: 100%;
    height: 50px;
    background-color: #ff9A4B;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #AAAAAA;
}
.main{
    margin: 0 auto;
    padding: 50px 0;
    width: 960px;
    display: flex;
}
.main-visual{
    width: 300px;
    background-color: #EEEEEE;
    position: relative;
}
.main-visual:nth-child(1){
    margin-right: 30px;
}
.main-visual:nth-child(2){
    margin-right: 30px;
}
.step-text{
    padding: 3px;
    background-color: #ff9A4B;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.main-image{
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.main-image{
    height: 150px;
}
.images1{
    background-image: url(chapter9_exercise/img/flow01.png);
    background-size: cover;
}
.images2{
    background-image: url(chapter9_exercise/img/flow02.png);
    background-size: cover;
}
.images3{
    background-image: url(chapter9_exercise/img/flow03.png);
    background-size: cover;
}

.main-content{
    margin-right: 10px;
    margin-left: 10px;
}
.main-title{
    margin-bottom:10px;
    font-weight: bold;
}
.main-text{
    
}